body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eef2f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

input,
button {
    font-size: 16px;
    margin: 5px;
    padding: 8px 12px;
}

button {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.weather {
    margin-top: 20px;
    text-align: center;
}

.error {
    color:crimson
}